{erl_opts, [debug_info]}.
{deps, []}.
{project_plugins, [rebar3_gpb_plugin, rebar3_proper]}.
{gpb_opts, [
    {i, "proto"},
    {o_erl, "src"},
    {o_hrl, "src"},
    {verify, always},
    {strings_as_binaries, true},
    {maps, true},
    {maps_unset_optional, omitted},
    {report_warnings, true},
    {target_erlang_version, 18}
]}.
{provider_hooks,
    [{pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.
{profiles,
    [{test, [
        {deps, [{proper, "1.2.0"}]},
        {extra_src_dirs, ["test/support"]}
    ]}
]}.
