name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    name: Test
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        pair:
          # - erlang: master
          - erlang: 24
          # - erlang: 23
          # - erlang: 22
          # - erlang: 21
          # - erlang: 20
          # - erlang: 19
          # - erlang: 18
          # - erlang: 17
    steps:
      - uses: actions/checkout@v2

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.pair.erlang}}
          # rebar3-version: 3.18.0
          # rebar3-version: 3.6.1

      - run: rebar3 ct
      - run: rebar3 as test proper
