name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        pair:
          - erlang: master
            rebar3: 3.23.0

          - erlang: 27
            rebar3: 3.23.0

          - erlang: 26
            rebar3: 3.21.0

          - erlang: 25
            rebar3: 3.21.0

          - erlang: 24
            rebar3: 3.21.0

          - erlang: 23
            rebar3: 3.20.0

          - erlang: 22
            rebar3: 3.18.0

          - erlang: 21
            rebar3: 3.15.2
    steps:
      - uses: actions/checkout@v4

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.pair.erlang }}
          rebar3-version: ${{ matrix.pair.rebar3 }}

      - run: rebar3 ct
      - run: rebar3 as test proper
