name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    name: Test
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        pair:
          - erlang: master
          - erlang: '24.0'
          - erlang: 23.3
          - erlang: 22.3
          - erlang: 21.3
          - erlang: 20.3
          - erlang: 19.3
          - erlang: 18.3
          - erlang: 17.5
    steps:
      - uses: actions/checkout@v2

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.pair.erlang}}
          rebar3-version: 3.6.1

      - run: rebar3 as dev dialyzer
      - run: rebar3 ct
      - run: rebar3 as test proper
